*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: antiquewhite;
  font-family: PopRegular;
}


html{
  scroll-behavior: smooth;
  cursor: default;
  cursor:url('./favicon.png'), auto;
  overflow: hidden;
}

@font-face{
  font-family: PopLight;
  src: url('./fonts/Poppins-ExtraLight.ttf');
}
@font-face{
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face{
  font-family: PopMediumItalic;
  src: url('./fonts/Poppins-MediumItalic.ttf');
}

@font-face{
  font-family: PopSemiBold;
  src: url('./fonts/Poppins-SemiBold.ttf');
}

@font-face{
  font-family: Stretch;
  src: url('./fonts/STRRETCH\ SANS\ FREE.ttf');
}

h1, h3, a{
  text-decoration: none;
  color: #333533;
  font-size: 1.5em;
  font-weight: 700;
}

h1{
  font-family: Stretch;
  font-size: 4em;
}
h1:hover, h3:hover, a:hover{
  color: cadetblue;
}

.next{
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.level{
  position: absolute;
  bottom: 1%;
  left: 1%;
  font-family: Stretch;
  font-size: 4em;
}

.meandmara{
  z-index: -1;
  position: absolute;
  bottom: 5%;
  right: -11.2%;
}

.center{
  width: 50%;
  text-align: left;
  position: absolute;
  left: 1%;
  bottom: 40%;
}